<div class="footer-wrapper">
    <div class="footer footer-container">
      <div class="footer footer-column-one">
        <h6>QUICK LINKS</h6>
        <ul>
          <li><a>Forum</a></li>
          <li><a>Weekly Meetings</a></li>
          <li><a>Resources</a></li>
        </ul>
      </div>
      <div class="footer footer-column-two">
        <h6>ABOUT</h6>
        <ul>
          <li><a>Activities</a></li>
          <li><a>Projects</a></li>
          <li><a>Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-column-three">
        <h6>DON'T FORGET TO FOLLOW US!</h6>
      </div>
      <div class="footer-column-four">
        <h6 class="subscribe-title">SUBSCRIBE TO OUR NEWSLETTER</h6>
        <i class="fab fa-discord"></i>
        <small>Get updates from OBSE?</small>
        <input class="subscribe-email" placeholder="Type your Email address..."></input>
        <div class="subscribe-text"></div>
      <button class="subscribe-button">SUBSCRIBE</button>
      </div> 
    </div>
  </div>