<div class="footer-wrapper">
    <div class="footer footer-container">
      <div class="footer footer-column-one footer-column">
        <h6>QUICK LINKS</h6>
        <ul>
          <li><a href="" target="_blank">Home</a></li>
          <li><a href="https://www.notion.so/nikitanovik/About-964b44222d464ed4a924902f32074c20" target="_blank">About</a></li>
          <li><a href="https://docs.google.com/forms/d/1NL4yvC-AhgPAeEbME9D4LMfWcHEao-N2zV-bxhEI0KI/edit?usp=sharing" target="_blank">Contact</a></li>
        </ul>
      </div>
      <div class="footer footer-column-two footer-column">
        <h6>PROJECTS</h6>
        <ul>
          <li><a href="" target="_blank">Website Design</a></li>
          <li><a href="" target="_blank">Mobile Design</a></li>
          <li><a href="" target="_blank">App Design</a></li>
        </ul>
      </div>
      <div class="footer-column-three footer-column">
        <h6>DON'T FORGET TO FOLLOW!</h6>
        <a href="https://medium.com/@nikita.a.novik" target="_blank"><i class="fa fa-medium"></i></a>
      </div>
      <div class="footer-column-four footer-column">
        <h6 class="subscribe-title">SUBSCRIBE TO OUR NEWSLETTER</h6>
        <input id="form-email" class="subscribe-email" placeholder="Type your Email address..."></input>
        <div class="subscribe-text"></div>
      <button class="subscribe-button" onclick="document.getElementById('form-email').value = ''">SUBSCRIBE</button>
      </div> 
    </div>
  </div>
