<div class="footer-wrapper">
    <div class="footer footer-container">
      <div class="footer footer-column-one footer-column">
        <p>QUICK LINKS</p>
        <ul>
          <li><a href="https://www.forum.steustace.com" target="_blank">Forum</a></li>
          <li><a href="https://steustace.notion.site/Resources-13c139f6b94e45fdaf29639a68f87f91" target="_blank">Resources</a></li>
          <li><a href="https://steustace.notion.site/Weekly-Meetings-748af30ef792498d9533482eee315a59" target="_blank">Weekly Meetings</a></li>
        </ul>
      </div>
      <div class="footer footer-column-two footer-column">
        <p>ABOUT</p>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="https://steustace.notion.site/About-a43cb9a1af3849b29a3bcedb2405b53c" target="_blank">About</a></li>
          <li><a href="https://steustace.notion.site/Contact-6738c0f8fee94b9aba519b2a01dfe5c5" target="_blank">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-column-three footer-column">
        <p>DON'T FORGET TO FOLLOW!</p>
        <a href="https://gab.com/groups/59904" target="_blank"><img class="img-icon" src="assets/images/gab.png" ></a>
      </div>
      <div class="footer-column-four footer-column">
        <h6 class="subscribe-title">SUBSCRIBE TO OUR NEWSLETTER</h6>
        <input id="form-email" class="subscribe-email" placeholder="How are you doing today?"></input>
        <div class="subscribe-text"></div>
      <a href="https://docs.google.com/forms/d/1UsppXaAGOkfgLwbTgsbEDTMCLNQ2cq3rbSKUPi_6LNk/edit?usp=sharing" target="_blank"><button class="subscribe-button" onclick="document.getElementById('form-email').value = ''">SUBSCRIBE</button></a>
      </div> 
    </div>
  </div>
