<div class="mobile-header">
	<div class="mobile-site-header">
		<div class="btn-close-wrap"><button aria-label="primary menu toggle" id="toggle-button" data-toggle-target=".main-menu-modal" data-toggle-body-class="showing-main-menu-modal" aria-expanded="false" data-set-focus=".close-main-nav-toggle" class=""> <span></span> <span></span> <span></span> </button></div>
		<div class="mobile-menu-wrap" style="display: none;">
			<nav id="mobile-site-navigation" class="main-navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
				<div class="primary-menu-list main-menu-modal cover-modal" data-modal-target-string=".main-menu-modal" style="">
					
                    <button class="btn-close-menu close-main-nav-toggle" data-toggle-target=".main-menu-modal" data-toggle-body-class="showing-main-menu-modal" aria-expanded="true" data-set-focus=".main-menu-modal"><span></span></button>
					<div class="mobile-menu" aria-label="Mobile">
						<div class="menu-main-menu-container">
							<ul id="mobile-primary-menu" class="menu main-menu-modal">
								<li id="menu-item-407" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-265 current_page_item menu-item-407"><a href="https://steustace.com/" aria-current="page">Home</a></li>
								<li id="menu-item-608" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children menu-item-608"><a href="https://steustace.com/about-us/">About</a>
									<button class="arrow-holder">
										<svg class="svg-inline--fa fa-angle-down fa-w-10" aria-hidden="true" data-prefix="fas" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg="">
											<path fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path>
										</svg>
										<!-- <span class="fas fa-angle-down"></span> --></button>
									<ul class="sub-menu">
										<li id="menu-item-1095" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1095"><a href="https://steustace.com/st-eustace/">St. Eustace</a></li>
										<li id="menu-item-587" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-587"><a href="https://steustace.com/highlight-5/">STATEMENT OF FAITH AND CALL TO ACTION</a></li>
										<li id="menu-item-638" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-638"><a href="https://steustace.com/mission-statement/">Mission Statement</a></li>
										<li id="menu-item-551" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children menu-item-551"><a href="https://steustace.com/activities/">Activities</a>
											<button class="arrow-holder">
												<svg class="svg-inline--fa fa-angle-down fa-w-10" aria-hidden="true" data-prefix="fas" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg="">
													<path fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path>
												</svg>
												<!-- <span class="fas fa-angle-down"></span> --></button>
											<ul class="sub-menu">
												<li id="menu-item-1354" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1354"><a href="https://steustace.com/projects/">Projects</a></li>
												<li id="menu-item-618" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-618"><a href="https://steustace.com/personal-development/">Spiritual Development</a></li>
												<li id="menu-item-560" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-560"><a href="https://steustace.com/education/">Education</a></li>
												<li id="menu-item-559" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-559"><a href="https://steustace.com/service/">Parish Service</a></li>
												<li id="menu-item-607" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-607"><a href="https://steustace.com/charitable-works/">Charitable Works</a></li>
												<li id="menu-item-558" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-558"><a href="https://steustace.com/civic-engagement/">Civic Engagement</a></li>
											</ul>
										</li>
										<li id="menu-item-851" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-851"><a href="https://steustace.com/chapters/">Directory of Chapters</a></li>
										<li id="menu-item-1357" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1357"><a href="https://steustace.com/contact-us/">Contact Us</a></li>
									</ul>
								</li>
								<li id="menu-item-1320" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1320"><a href="http://forum.steustace.com">Forum</a></li>
								<li id="menu-item-566" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children menu-item-566"><a href="https://steustace.com/resources/">Resources</a>
									<button class="arrow-holder">
										<svg class="svg-inline--fa fa-angle-down fa-w-10" aria-hidden="true" data-prefix="fas" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg="">
											<path fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path>
										</svg>
										<!-- <span class="fas fa-angle-down"></span> --></button>
									<ul class="sub-menu">
										<li id="menu-item-688" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children menu-item-688"><a href="https://steustace.com/library/">Library</a>
											<button class="arrow-holder">
												<svg class="svg-inline--fa fa-angle-down fa-w-10" aria-hidden="true" data-prefix="fas" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg="">
													<path fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path>
												</svg>
												<!-- <span class="fas fa-angle-down"></span> --></button>
											<ul class="sub-menu">
												<li id="menu-item-1249" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1249"><a href="https://steustace.com/library/">Reading List</a></li>
												<li id="menu-item-1247" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1247"><a href="https://steustace.com/lives-of-saints/">Lives of Saints</a></li>
												<li id="menu-item-794" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-794"><a href="https://steustace.com/articles/">Articles</a></li>
											</ul>
										</li>
										<li id="menu-item-1248" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1248"><a href="https://steustace.com/prayers/">Prayers</a></li>
										<li id="menu-item-795" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-795"><a href="https://steustace.com/orthodox-videos/">Orthodox Videos</a></li>
										<li id="menu-item-796" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-796"><a href="https://steustace.com/music/">Orthodox Music</a></li>
										<li id="menu-item-670" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-670"><a href="https://steustace.com/useful-websites/">Useful Websites</a></li>
										<li id="menu-item-774" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children menu-item-774"><a href="https://steustace.com/event-calendar/">Event Calendar</a>
											<button class="arrow-holder">
												<svg class="svg-inline--fa fa-angle-down fa-w-10" aria-hidden="true" data-prefix="fas" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg="">
													<path fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path>
												</svg>
												<!-- <span class="fas fa-angle-down"></span> --></button>
											<ul class="sub-menu">
												<li id="menu-item-831" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-831"><a href="https://steustace.com/event-calendar/">Upcoming Events</a></li>
												<li id="menu-item-826" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-826"><a href="https://steustace.com/past-events/">Past Events</a></li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</div>
</div>