<div class="mobile-header">
	<div class="mobile-site-header">
		<div class="btn-close-wrap"><button aria-label="primary menu toggle" id="toggle-button" data-toggle-target=".main-menu-modal" data-toggle-body-class="showing-main-menu-modal" aria-expanded="false" data-set-focus=".close-main-nav-toggle" class=""><span></span> <span></span> <span></span></button></div>
		<div class="mobile-menu-wrap" style="display: none;">
			<nav id="mobile-site-navigation" class="main-navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
				<div class="primary-menu-list main-menu-modal cover-modal" data-modal-target-string=".main-menu-modal" style="">
					
                    <button class="btn-close-menu close-main-nav-toggle" data-toggle-target=".main-menu-modal" data-toggle-body-class="showing-main-menu-modal" aria-expanded="true" data-set-focus=".main-menu-modal"><span></span></button>
					<div class="mobile-menu" aria-label="Mobile">
						<div class="menu-main-menu-container">
							<ul id="mobile-primary-menu" class="menu main-menu-modal">
								<li id="menu-item-407" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-265 current_page_item menu-item-407"><a href="" aria-current="page">Home</a></li>

                                <li id="menu-item-407" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-265 current_page_item menu-item-407"><a href="https://www.notion.so/nikitanovik/About-964b44222d464ed4a924902f32074c20" target="_blank" aria-current="page" target="_blank">About</a></li>

                                <li id="menu-item-407" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-265 current_page_item menu-item-407"><a href="https://docs.google.com/forms/d/1NL4yvC-AhgPAeEbME9D4LMfWcHEao-N2zV-bxhEI0KI/edit?usp=sharing" target="_blank" aria-current="page">Contact</a></li>


	
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</div>
</div>