 /* Cards */
 .front-page-card-area {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .front-page-card-wrapper {
  display: flex;
  flex-direction: row;
  width: 82%;
  justify-content: center;
  align-items: top;
  }
  
  .front-page-card-container {
  margin: 8px;
  width: 33.3333%;
  border: solid 2px #dfdfdf;
}

  .front-page-card-container > a {
    color: black;
  
  }

  .front-page-card-textbox-wrapper {
    background-color: white;
  }

  .front-page-card-container > a:hover > .front-page-card > .front-page-card-textbox-wrapper {
    color: white;
    background-color: black;

  }

  
  
  .front-page-card {
  display: flex;
  flex-direction: column;
 
  // min-height: 489px;
  width: 100%;
  }
  
  .front-page-card-image {
  
  height: 328px;
  width: 100%;
  background-position: center;
  background-size: cover;
  }

  .image-1 {
    background-image: url("https://steustace.github.io/assets/images/Rectangle-38.png");
  }
  
  .image-2 {
    background-image: url("https://steustace.github.io/assets/images/Rectangle-37.png");
  }
  
  .image-3 {
    background-image: url("https://steustace.github.io/assets/images/Rectangle-36.png");
  }
  
  
  .front-page-card-textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 40px 0px;
  height: 161px;
  }
  
  .front-page-card-text {
    padding: 0px 21px;  
  }

  @media only screen and (max-width: 1000px) { 

    .front-page-card-wrapper {
      display: flex;
      flex-direction: column;
      max-width: 512px;
      justify-content: center;
      align-items: top;
      }

      .front-page-card-container {
        margin: 8px;
        width: 100%;
        border: solid 2px #dfdfdf;
      }

  }

  
  @media only screen and (max-width: 600px) { 

    .front-page-card-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 512px;
        justify-content: center;
        align-items: top;
        }

        .front-page-card-container {
          margin: 8px;
          width: 100%;
          border: solid 2px #dfdfdf;
        }

  }

