 /* Cards */
 .front-page-card-area {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .front-page-card-wrapper {
  display: flex;
  flex-direction: row;
  width: 82%;
  justify-content: center;
  align-items: top;
  }
  
  .front-page-card-container {
  margin: 8px;
  width: 33.3333%;
  border: solid 2px #dfdfdf;
}

  .front-page-card-container > a {
    color: black;
  
  }

  .front-page-card-container > a:hover > .front-page-card > .front-page-card-textbox {
    color: white;
    background-color: black;

  }

  
  .front-page-card {
  display: flex;
  flex-direction: column;
 
  // min-height: 489px;
  width: 100%;
  }
  
  .front-page-card-image {
  
  height: 328px;
  width: 100%;
  background-position: center;
  background-size: cover;
  }

  .image-1 {
    background-image: url("https://steustace.com/wp-content/uploads/2022/02/Rectangle-38.png");
  }
  
  .image-2 {
    background-image: url("https://steustace.com/wp-content/uploads/2022/02/Rectangle-37.png");
  }
  
  .image-3 {
    background-image: url("https://steustace.com/wp-content/uploads/2022/02/Rectangle-36.png");
  }
  
  
  .front-page-card-textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 40px 0px;
  /* height: 161px; */
  }
  
  .front-page-card-text {
    padding: 0px 21px;  
  }
  
  @media only screen and (max-width: 800px) { 

    .front-page-card-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 1400px;
        justify-content: center;
        align-items: top;
        }

        .front-page-card-container {
          margin: 8px;
          width: 100%;
          border: solid 2px #dfdfdf;
        }

  }

  /* Collapsible */
  .collapsible {
      display: flex;
      flex-direction: row;
      /* justify-content: center; */
      align-items: center;
    width: 100%;
    height: 87px;
    flex-grow: 0;
    margin: 10px 0 0;
  /*   padding: 29px 217px 28px 218px; */
    padding: 40px;
    border: solid 2px black;
  /*   justify-content: center;
    align-items: center; */
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: 1.28px;
    text-align: center;
    background-color: transparent;
    color: black;
  }
  
  .content {
    padding: 12px 18px 0px 18px;
    width: 100%;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    z-index: 3;
  }
    
    .active, .collapsible:hover {
      background-color: black;
      border: solid 2px #fff !important;
      color: white;
    }
  
  .read-more-text {
    width: 100%;
    padding: 0px 25px;
    text-align: left;
  }