/** Footer */
.footer-wrapper {
    background-color: black;
  /*   width: 100%; */
    // height: 289px;
    padding: 58px 86px;
  }
  
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .footer-column-one {
    color: white;
  }
  
  .footer-column-two {
    color: white;
  }
  
  .footer-column-three {
    color: white;
  }
  
  .footer-column-four {
    width: 469px;
    padding: 22px;
    border: solid 2px white;
    color: white;
  }
  
  .subscribe-email {
    width: 100%;
    height: 28px;
  }
  
  .subscribe-button {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
     width: 100%;
    height: 40px;
    flex-grow: 0;
    margin: 20px 0 0;
  /*   padding: 29px 217px 28px 218px; */
    border: solid 2px #fff;
  /*   justify-content: center;
    align-items: center; */
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: 1.28px;
    text-align: center;
    background-color: #000;
    color: white;
  }
  
  .footer > ul > li {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }
  