// Table of Contents
// - Body
// - Headings
// - Body Copy
// - Buttons
// - Shadow
// - Spacer
// - Flex Settings
// - Full Width
// - Align Settings
// - Custom Wrapper
// - Call to Action
//   -

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/** Body */
body {
    margin: 0;
    padding: 0;
}

main {
  margin-bottom: 72px;
  background-color: #f8f8f8;
}

/** Headings */
h1, h2,   { font-weight: 700; font-family: 'Libre Baskerville', serif;}

h3, h4, h5, h6 {font-weight: 700; font-family: 'Muli', sans-serif;}

h1 { font-size: 61px;}
h2 { font-size: 48.83px;}

/** Body Copy */
p { font-weight: 400; font-family: 'Muli', sans-serif; font-size: 18px; }

/** Lists */
ul {
  padding: 0;
}

li {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/** Links */
a {
  text-decoration: none;
}

ul > li > a {
  color: white;
}

/** Images */
.img-icon {
  width: 40px;
  height: 40px;
}

/** Buttons */
button {

    padding: 12px 40px;
    flex-grow: 0;
    margin: 8px 8px;
    border: solid 2px black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
     font-style: normal;
    line-height: 1.88;
    letter-spacing: 1.28px;
    text-align: center;
    text-transform: uppercase;
    // background-color: #000;
    color: black;
    background-color: transparent;
}

button:hover {
  background-color: black;
  color: white;
}

button.hero-button:hover {
  background-color: white !important;
  color: black !important;
}

/** Shadow */
.bottom-shadow { box-shadow: 0px 15px 10px -15px #111; }


/** Spacer */
.default-spacer {
    height: 8px;
    // background-color: #9999999;
}

.double-spacer {
  height: 16px;
  // background-color: #9999999;
}

.five-spacer {
  height: 16px;
  // background-color: #9999999;
}
/** Flex Settings */
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/** Full Width */
.full-width {
    width: 100%;
}

/** Align Settings */
.justify-start {
    justify-content: flex-start;
    align-items: flex-start;
}

/** Custom Wrapper */
.custom-wrapper {
    justify-content: space-between;
}

/** Call to Action */
.call-to-action-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 85.347;
  padding-top: 30px;
  padding-bottom: 25px;
}

.primary-call-to-action-wrapper {
  display: flex;
  flex-direction: column;
}

.call-to-action-divider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 56px;
  padding: 0% 5%;
}

.primary-call-to-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.custom-call-to-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.call-to-action-textbox-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 66.67%;
  padding: 40px 0px;
  background-color: white;
}

.black {
  background-color: black !important;
  border-color: white;
  color: white;
}

button.black:hover {
  background-color: white;
  border-color: white;
  color: black;
}

.hero-call-to-action-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 172px);
  // max-width: 1400px;
}

.call-to-action-container {
  display: flex;
  flex-direction: row;
  // height: 100vh;
  // max-width: 1400px;
  // border: solid 2px gray;
  box-shadow: 0 8px 6px -6px grey;
}

.call-to-action-container.secondary {
  min-height: 670px;
  width: 100%;
}

.call-to-action-img-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 33.3%;
}

.call-to-action-img {
  max-width: 75%
}

.call-to-action-textbox {
    margin: 0px 64px;
  }

.call-to-action-heading {
  margin: 0 2px 16px 0;
  line-height: 0.98;
  letter-spacing: 3.91px;
  text-align: left;
//   color: #fff;
}

.call-to-action-text {
  margin: 16px 4px 20px 0;
  line-height: 1.67;
  letter-spacing: 1.44px;
  text-align: left;
//   color: #fff;
}

.call-to-action-image {
 
  background-origin: content-box;
  background-position: center;
  background-size: cover;
  margin:0;
  width: 50%;
  z-index: 2;
}

.call-to-action-button {

    background-color: transparent;

}

// .call-to-action-button:hover {
//   background-color: white;
//   color: black;
// }

#image-01 {
  background-image: url("https://orthodoxbrotherhood-steustace.github.io/obse-jekyll//assets/images/steustace.jpeg");
}

#image-02 {
  background-image: url("https://orthodoxbrotherhood-steustace.github.io/obse-jekyll//assets/images/steustace.jpeg");
}

#image-03 {
  background-image: url("https://orthodoxbrotherhood-steustace.github.io/obse-jekyll//assets/images/steustace.jpeg");
}

/** Mobile View */

@media only screen and (max-width: 600px) { 

  body {
    margin: 0;
    padding: 0;
}

.call-to-action-container {
  display: flex;
  flex-direction: row;
  // height: 100vh;
  max-width: 1400px;
  border: solid 2px gray;
}

button {

  padding: 12px 40px;
  flex-grow: 0;
  margin: 0;
  width: 100%;
  border: solid 2px black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
   font-style: normal;
  line-height: 1.88;
  letter-spacing: 1.28px;
  text-align: center;
  text-transform: uppercase;
  // background-color: #000;
  color: black;
}

button:hover {
background-color: black;
color: white;
}

/** Call to Action */

.call-to-action-menu {
  display: none;
}

.call-to-action-divider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 56px;
  padding: 0% 5%;
}

.primary-call-to-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.custom-call-to-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 24px;
}

.hero-call-to-action-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 600px;
}

.call-to-action-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  // max-width: 600px;
  border: solid 2px #dfdfdf;
}

.reverse {
  flex-direction: column !important;
}

.call-to-action-img-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  // width: 100%;
  // height: 25px;
}

.call-to-action-img {
  max-width: 75%
}

.call-to-action-textbox-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  // padding: 12px 0px;
  padding: 0;
  background-color: white;
}

.call-to-action-textbox {
    margin: 24px 24px;
  }

.call-to-action-heading {
  margin: 0 2px 16px 0;
  line-height: 0.98;
  letter-spacing: 3.91px;
  text-align: left;
//   color: #fff;
}

.call-to-action-text {
  margin: 16px 4px 20px 0;
  line-height: 1.67;
  letter-spacing: 1.44px;
  text-align: left;
//   color: #fff;
}

.call-to-action-image {
  background-image: url("http://steustace.com/wp-content/uploads/2021/02/steustace-headerimage-cropped-3.jpeg");
  background-origin: content-box;
  background-position: center;
  margin:0;
  // width: 50%;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.primary-call-to-action-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.primary-call-to-action-button-wrapper > a {
  width: 40%;
  margin: 4px;
}


.primary-call-to-action-button {
  width: 100%;

  padding: 12px 0px;
  background-color: transparent;

}

.primary-call-to-action-button {
  width: 100%;
  margin: 4px;
  padding: 12px 0px;
  background-color: transparent;

}

.call-to-action-button {

    background-color: transparent;

}

}