<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <!-- Twitter Card -->
     <meta name="twitter:card" content="summary" />
     <meta property="og:url" content="https://www.steustace.com" />
     <meta property="og:title" content="Orthodox Brotherhood of St. Eustace" />
     <meta property="og:description" content="Fight the Good Fight. Join the strong Orthodox Community with a disciplined approach to Faith." />
     <meta property="og:image" content="https://steustace.github.io/assets/images/obse-twitter.jpg" />
     <!-- Facebook Card -->
     <meta property="og:url"                content="https://www.steustace.com" />
      <meta property="og:type"               content="article" />
      <meta property="og:title"              content="Orthodox Brotherhood of St. Eustace" />
      <meta property="og:description"        content="Fight the Good Fight. Join the strong Orthodox Community with a disciplined approach to Faith." />
      <meta property="og:image"              content="https://steustace.github.io/assets/images/obse-facebook.jpg" />
      <!-- SEO -->
      <meta name="description" content="Fight the Good Fight. Join the strong Orthodox Community with a disciplined approach to Faith. Orthodox Brotherhood of St. Eusatace."/>
  </head>

  <body>
    {% include nav.html %}
    {{ content }}
  </body>
  {% include footer.html %}
  <script type="text/javascript" src="assets/js/jquery-3.6.0.min.js" ></script>
  <script src="assets/js/nav.js"></script>
  <script src="assets/js/collapsible.js"></script>
</html>
